@font-face {
    font-family: Harabara;
    src: url('fonts/harabara-webfont.eot');
    src: url('fonts/harabara-webfont.eot?#iefix') format('eot'),
         url('fonts/harabara-webfont.woff') format('woff'),
         url('fonts/harabara-webfont.ttf') format('truetype'),
         url('fonts/harabara-webfont.svg#webfontanoYLCBS') format('svg');
     font-weight: bold;
     font-style: normal;
}

html,body {
    background: url(/img/fabric_bg.png);
}

body {
    margin: 48px 0;
    color: #555;
}

#logo_text {
    height: 80px;
    position: relative;
}
#logo_text img {
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
    color: #FF7A20;
}
a:hover {
    color: #FF4234;
}
#post a {
    text-decoration: underline;
}
a.external {
    background: url(/img/external.png) center right no-repeat;
    padding-right: 13px;
}

sub {
    font-size: 0.8em;
}


nav {
    height: 80px;
}

nav ul {
    position: absolute;
    right: 0;
    bottom: 0;
    list-style: none;
    margin: 0;
}

nav li {
    float: left;
    min-width: 68px;
    margin: 0 0 0 6px;
    border-bottom: 4px solid #01A2A6;
    color: #01A2A6;
    font: 19px/120% Harabara, Helvetica, Arial, sans-serif;
    text-align: center;
}
nav li a {
    display: block;
    position: relative;
    padding: 12px 6px 6px;
    color: #01A2A6;
    text-decoration: none;
    font-weight: bold;
}
nav li a:hover {
    color: #01A2A6;
    background-color: #BDF271;
}
nav li.active a {
    color: #01A2A6;
    background-color: #BDF271;
}

p, ul, ol,
#post div.highlight {
    margin: 0 0 18px 0;
    font-family: Georgia, Palentino, serif;
    font-size: 16px;
    line-height: 150%;
}
p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
    color: #333;
    letter-spacing: -1px;
    line-height: 120%;
    font-family: Ubuntu, Helvetica, Arial, Verdana, serif;
    font-weight: normal;
    text-shadow: 0 -1px 0 #fff;
}
h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1 {
    margin-bottom: 18px;
}
h1 { font-size: 23px; font-weight: 700; }
h2 { font-size: 21px; }
h3 { font-size: 19px; }
h4 { font-size: 17px; }

.category {
    border-top: 1px solid #B9B9B9;
    text-align: center;
    color: #949494;
    width: 80px;
    margin-left: 9px;
    padding-top: 6px;

    font-size: 15px;
    color: #949494;
}

.content {
    margin-bottom: 10px;
}
.content ul li {
    margin: 0 50px 0 30px;
}
ul.blogs {
    list-style: none;
    margin: 0;
}
ul.blogs li {
    margin: 0;
}
ul.blogs li h2,
ul.blogs li h2 a {
    margin-top: 0;
    margin-bottom: 6px;
    color: #333;
}
ul.blogs li h2 a:hover {
    color: #000;
}

#featured .article {
    height: 150px;

    background: url(/img/stories/tomato.jpg) no-repeat left center;
}
#featured .article h5 {
    background-color: rgba(0,0,0, 0.4);
    padding: 12px 12px;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);

    -moz-border-radius-topright: 4px; -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px; border-top-left-radius: 4px;
}

h3.comments {
    color: #D93312;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.content .date {
    font-size: 13px;
    color: #999;
    margin-bottom: 6px;
}
.content h3 .date {
    margin-left: 0.5em;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 21px;
}

.content section {
    margin: 48px 0;
}
.content .item {
    margin: 24px 0;
}

#post {
}

#post .author {
    float: right;
    font-size: 12px;
    margin-top: 0;
    color: #888;
}

#footer {
    border-top: 1px solid #D0D0D0;
    padding-top: 12px;
    color: #939393;
}
#footer p {
    font-size: 12px;
}

.likes iframe {
    height: 21px !important;
    vertical-align: top;
}

#disqus_thread table {
    margin: 0;
}

#disqus_thread #dsq-new-post h3 {
    display: none !important;
}

#disqus_thread #dsq-comments-title h3 {
    margin: 10px 0;
}
