<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% if page.title %}
    <meta property="og:title" content="{{ page.title }}"/>
{% else -%}
    <meta property="og:title" content="Artifix"/>
{% endif %}
    <meta property="og:type" content="company"/>
    <meta property="og:url" content="http://artifix.net{{ page.url}}" />
    <meta property="og:image" content="http://artifix.net/img/icon.png"/>
    <meta property="og:site_name" content="Artifix"/>
    <meta property="fb:admins" content="100000153177839"/>
{% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
{% else %}
    <meta property="og:description" content="The company of Menno Luiten, for web &amp; mobile development with innovation."/>
{% endif %}
{% if page.title %}
    <title>{{ page.title }} &raquo; Artifix</title>
{% else %}
    <title>Artifix</title>
{% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.gs/min/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.gs/min/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.gs/min/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
</head>
<body class="container_12">
    <header>
        <h1 class="grid_4"><a href="/"><img src="/img/logo.png" /></a></h1>
        <nav class="grid_8">
          <ul>
            <li{% if page.url == '/products.html' %} class="active"{% endif %}><a href="#">web &amp; mobile projects</a></li>
            <li{% if page.url == '/archive.html' %} class="active"{% endif %}><a href="/archive.html">blog</a></li>
            <li{% if page.url == '/about.html' %} class="active"{% endif %}><a href="/about.html">about us</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
    </header>
    <div class="grid_12 content">
        {{ content }}
    </div>
    <div class="clear"></div>
    <footer>
        <div id="footer">
            <p style="float: right">
                Would you like to hire me?
                <a href="mailto:hire@artifix.net">I’m available</a>
            </p>
            <p>
                Artifix will soon be registered at the Kamer van Koophandel of Leiden<br/>
                All rights reserved &copy; Artifix, 2011
            </p>
            <div id="fb-like" style="clear: left;">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like href="http://artifix.net" show_faces="true" width="450" font="arial"></fb:like>
            </div>
        </div>
    </footer>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18800569-3']);
    _gaq.push(['_trackPageview']);

    (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

</script>
</body>
</html>
