<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Let's comply to our Facebook overlords -->
{% if page.title %}    <meta name="og:title" content="{{ page.title }}"/>
{% else %}    <meta name="og:title" content="Artifix"/>
{% endif %}    <meta name="og:type" content="company"/>
    <meta name="og:url" content="http://artifix.net{{ page.url}}" />
    <meta name="og:image" content="http://artifix.net/img/icon.png"/>
    <meta name="og:site_name" content="Artifix"/>
    <meta name="fb:admins" content="100000153177839"/>
{% if page.excerpt %}    <meta name="og:description" content="{{ page.excerpt }}"/>
{% else %}    <meta name="og:description" content="The company of Menno Luiten, for web &amp; mobile development with innovation."/>
{% endif %}
{% if page.title %}    <title>{{ page.title }} - Artifix</title>
{% else %}    <title>Artifix</title>
{% endif %}    <meta name="author" content="Menno Luiten <mluiten@artifix.net>" />

    <link rel="stylesheet" type="text/css" href="/css/960.gs/min/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/960.gs/min/text.css" />
    <link rel="stylesheet" type="text/css" href="/css/960.gs/min/960.css" />
    <link href='http://fonts.googleapis.com/css?family=Mako' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css?{{ site.time | date: "%s" }}" />
{% if page.stylesheets %}{% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}?{{ site.time | date: "%s" }}" />
{% endfor %}{% endif %}
    <script src="/js/html5/libs/modernizr-1.7.min.js"></script>
</head>
<body class="container_12">
    <header>
        <h1 class="grid_4"><a href="/"><img src="/img/logo.png" alt="Artifix logo" /></a></h1>
        <nav class="grid_8">
          <ul>
            <li{% if page.url == '/products.html' %} class="active"{% endif %}><a href="/products.html">web &amp; mobile projects</a></li>
            <li{% if page.url == '/blog.html' %} class="active"{% endif %}><a href="/blog.html">blog</a></li>
            <li{% if page.url == '/about.html' %} class="active"{% endif %}><a href="/about.html">about me</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
    </header>
    <div class="grid_12 content" role="main">
        {{ content }}
    </div>
    <div class="clear"></div>
    <footer>
        <div id="footer">
            <p style="float: right">
                Would you like to hire me?
                <a href="mailto:hire@artifix.net">I’m available</a>
            </p>
            <p>
                Artifix will soon be registered at the Kamer van Koophandel of Leiden<br/>
                All rights reserved &copy; Artifix, 2011
            </p>
            <div class="fb-like" style="clear: left;">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like href="http://artifix.net" show_faces="true" width="450" font="arial"></fb:like>
            </div>
        </div>
    </footer>

    <!--[if lt IE 7 ]>
    <script src="/js/html5/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->
    <script type="text/javascript">
        var _gaq=[["_setAccount","UA-18800569-3"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
         g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
         s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
</body>
</html>
