---
layout: default
stylesheets: ['/css/syntax.css']
---
<section id="article">
    <article id="post" class="grid_8">
        <h1>{{ page.title }}</h1>
        <p class="date">Posted on {{ page.date | date_to_long_string }}</p>
        {% if page.excerpt %}<p class="excerpt">{{ page.excerpt }}</p>{% endif %}
        {{ content }}
        {% if page.author %}<p class="author">Written by {{ page.author }}</p>{% endif %}
    </article>
    <div class="clear"></div>
</section>

<section id="social">
<div class="grid_8">
    <div class="likes">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <fb:like href="http://artifix.net{{ page.url }}" layout="button_count" show_faces="true" font="arial"></fb:like>
    </div>

    <div id="disqus_thread"></div>
</div>
</section>

<script type="text/javascript">
    var disqus_shortname = 'artifix';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'http://artifix.net{{ page.url }}';

    (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
